@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&family=Merriweather+Sans&family=Questrial&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --headline-font: 'Merriweather Sans', sans-serif;
    --sub-headline-font: 'Questrial', sans-serif;
    --body-font: 'Cairo', sans-serif;
    --main-bg-color: white;
    --dark-bg-color: black;
}

html{
    font-family: var(--body-font);
    font-size: 15px;
    color: black;
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}

section{
    padding: 2rem;
    overflow: hidden;
}

img{
    width: 100%;
    max-width: 100%;
}

a{
    text-decoration: none;
}

p{
    font-size: 1.6rem;
}

.container{
    width: 100%;
    margin: 0 auto;
    padding: 0 2.6rem;
}

header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(to-bottom, rgba(0,0,0,0.5), transparent);
}

/* navigation */

nav{
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav h3{
    font-family: var(--headline-font);
    font-size: 2rem;
}
.menu-toggle{
    color: var(--dark-bg-color);
    font-size: 2.2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2.5rem;
    z-index: 1500;
    cursor: pointer;
}

.fa-times{
    display: none;
}

.nav-list{
    list-style: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 100vh;
    padding: 6.5rem;
    background: var(--dark-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translateX(-100%);
    transition: transform .5s;
}

.open .fa-times{
    display: block;
}

.open .fa-bars{
    display: none;
}

.open .nav-list{
    transform: translateX(0);
}

.nav-item{
    border-bottom: 2px solid white;
}

.nav-link{
    display: block;
    font-size: 2rem;
    font-family: var(--sub-headline-font);
    color: var(--main-bg-color);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2.2px;
    margin-right: -2px;
    transition: color .3s;
}

.nav-link:hover{
    color: #c59d5f;
}


/* home */

.home{
    width: 100%;
    height: 100vh;
    background: url(images/home1.jpg) center no-repeat;
    display: flex;
    align-items: center;
    text-align: center;
}

.headline{
    font-family: var(--headline-font);
    font-size: 5.5rem;
    letter-spacing: 3px;
    opacity: 0;
    animation: fadeup .5s forwards;
}

.sub-headline{
    font-family: var(--sub-headline-font);
    font-size: 2.5rem;
    letter-spacing: 2px;
    line-height: .4;
    margin-top: 1rem;
    opacity: 0;
    animation: fadedown .5s forwards;
}

.headline-description{
    font-size: 2rem;
    margin-top: 3rem;
    margin-bottom: 1.2rem;
    letter-spacing: 3px;
    margin-right: -3px;
    opacity: 0;
    animation: fadeleft .9s forwards;
}

.btn{
    margin-top: 2rem;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: -2px;
    font-size: 20px;
    font-weight: 400;
    font-family: var(--headline-font);
    background: #c59d5f;
    color: var(--main-bg-color);
    transition: background .3s;
    border-radius: 5px;
    border: 1px solid #c59d5f;
}

.shop-btn{   
    padding: 10px 25px;
}

.btn:hover{
    background: #8b8b8b;
    color:  white;
    border: 1px solid #afacac;
}

/* collection */

.collection{
    text-align: center;
}

.global-headline{
    margin-top: 6.9rem;
}

.global-headline .headline{
    font-size: 2.9rem;
    margin-bottom: 3rem;
}

.collection-img{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-gap: 0.9rem;
    margin: 0 -2rem 0 -2rem;
}

/* ring */

.ring{
    background: url(images/ring2.jpg) center no-repeat;
    display: flex;
    align-items: center;
    text-align: center;
    height: 90vh;
    width: 100%;
    background-size: cover;
    margin-top: 4rem;
}

.ring .sub-headline{
    letter-spacing: 2px;
    line-height: .9;
    color: var(--main-bg-color)
}

.ring .headline{
    color: var(--main-bg-color);
}

/* platinum */

.platinum{
    background: rgb(238, 235, 235);
    text-align: center;
}

.platinum-img{
    display: grid;
    width: 60%;
    grid-template-columns: repeat(1 , 5fr);
    grid-gap: 0.9rem;
    margin: 3rem auto 6rem;
}

/* footer */
.back-to-top{
    width: 7rem;
    height: 7rem;
    background-color:rgb(32, 32, 32);
    position: absolute;
    top: -3rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
}

.back-to-top i{
    display: block;
    color: white;
    font-size: 2rem;
    padding: 2rem;
    animation: up 1s infinite;
}

footer{
    
    padding: 7rem 0;
    background: rgb(32, 32, 32);
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
}

.footer-content h2{
    font-size: 2.5rem;
    font-weight: 700;
}

.footer-content{
    color: var(--main-bg-color);
    overflow: hidden;
}

.social-media{
    margin-top: 2rem;
}

.social-icons{
    list-style: none;
    display: flex;
    justify-content: center; 
}

.social-icons i{
    font-size: 2rem;
    color: #b3b3b3;
    padding: .8rem 2rem;
    opacity: .8;
    transition: color .5s;
}

.social-icons i:hover,
.social-icons i:focus{
    color: #c59d5f;
}

.newsletter{
    margin-top: 2rem;
}

.newsletter-form{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.email{
    width: 100%;
    max-width: 25rem;
    padding: 1rem;
    border-radius: .4rem;
}

.newsletter-btn{
    background-color: transparent;
    border: none;
    color: #c59d5f;
    cursor: pointer;
    font-size: 1.6rem;
    padding: 1px .6rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 16.5rem;
}

/* media queries */

@media screen and (min-width: 1000px){

    section{
        padding: 6.9rem;
    }

    .menu-toggle{
        display: none;
    }

    .nav{
        justify-content: space-between;
    }

    .nav-list{
        position: initial;
        width: initial;
        height: initial;
        background-color: transparent;
        padding: 0;
        justify-content: initial;
        flex-direction: row;
        transform: initial;
        transition: initial;
    }

    .nav-item{
        margin: 0 2.4rem;
        border: none;
        
    }

    .nav-link{
        color: var(--dark-bg-color);
    }

    .active{
        position: relative;
    }

    .active::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background: var(--dark-bg-color);
        left: 0;
        bottom: -3px;
    }

    .global-headline .headline{
        font-size: 4.9rem;
        margin-top: -7rem;
    }

    .ring{
        margin-top: -2rem;
    }

    .collection-img{
        grid-template-columns: repeat(4 , 1fr);
        grid-gap: 1.3rem;
        margin: 4rem 1rem 1rem 1rem;
    }

    footer{
        height: 90vh;
    }

    .footer-content{
        margin: 0rem 10rem;
    }

    .footer-content h2{
        font-size: 4rem;
    }

    .footer-content-divider{
        margin: 4rem 5rem;
        display: flex;
        justify-content: space-between;
    }
    .platinum-img{
        margin-top: 3rem;
        grid-template-columns: repeat(2 , 5fr);
        grid-gap: 1.9rem;
    }

    .social-media,
    .newsletter{
        width: 100%;
        max-width: 27rem;
        margin: 0 1rem;
    }

    .newsletter-btn{
        margin-left: 15rem;
    }

    .social-icons i{
        font-size: 3rem;
    }
    
    .footer-content p{
        font-size: 1.7rem;
    }
}

/* animation */

@keyframes fadeup{
    0%{
        transform: translateY(4rem);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadedown{
    0%{
        transform: translateY(-4rem);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeleft{
    0%{
        transform: translateX(-10rem);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes up{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translateY(-1rem);
    }
}
